.box{
    height: 50px;
    width: 50px;
    border: 1px solid blue;
    background-color: aqua;
    margin-top: 3px;
    color: rgb(255, 72, 79);
    justify-content: center;
    display: flex;
    align-items: center;

}
